.how-many-places-in-the-given-state {
  background-color: #1ec6b6;
  padding: 4px 11px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  color: white;
  text-align: center;
  width: 7em;
}
