.main-footer {
  background-color: #040e27;
  width: 75em;
  color: white;
}
.footer-flex-container {
  background-color: #040e27;
  display: flex;
  justify-content: center;
}

.copyright-section {
  background-color: #040e27;
}

@media (min-width: 320px) and (max-width: 425px) {
  .social-media-in-footer {
    display: flex;
    justify-content: center;
  }
  .respo-container-for-destination-post-footer {
    margin: 1em;
  }
  .destinations-in-footer {
    display: flex;
    justify-content: center;
  }
  .main-footer {
    width: 100%;
  }
  .copyright-section {
    margin-top: 0;
  }
}
