.testo-main-div {
  background-color: #f7fafd;
}

@media (min-width: 320px) and (max-width: 425px) {
  .respo-content-cls {
    padding: 0;
    width: 100%;
    margin: 1em;
  }
  .dot-respo-cls {
    margin-top: 16rem;
  }
}
